<table>
<% @messages.each do |message| %>
  <tr>
    <td><%= message.username %></td>
    <td><%= Time.at(message.timestamp) %></td>
    <td><%= message.match.counts %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>
<%= will_paginate @matches %>