<%# unless logged_in %>
<div class="loginBox panel">

<!-- <form id="loginForm"> -->
<div class="row">
  <div class="large-8 columns">
    <h2>Authenticate with OKCupid</h2>
    <p>LazyCupid does NOT:</p>
    <ul>
      <li>Save your login information</li>
      <li>Store any of your personal information</li>
    </ul>
  <div class="row">
    <div class="large-4 columns">
      <label>Username
      <input type="text" name="okcUser" id="okcUser"><br/>
      </label>
    </div>
  </div>
    <div class="row">
    <div class="large-4 columns">
      <label>Password
      <input type="password" name="okcPass" id="okcPass"><br/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
    <button class="button small" id="login" type="button">Login</button>
    </div>
  </div>
  <span id="loginStatus"></span>
</div>
<div class="large-4 columns">
  <%= image_tag("lazycupid_logo.jpg") %>
</div>
</div>
<%# else %>
 <!-- <p>You are already logged in </p> -->
 <%# end %>