    <div class="row">
      <div class="large-6 columns">
        <p>Logged in as <strong><%= okcupid_account_name %></strong> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
      </div>
    </div>