<h1>Roller Power Switch</h1>
<li class="rollControl">
  <div class="switch">
    <input id="exampleCheckboxSwitch" type="checkbox" <%= roller_switch_state(current_user.id) %>>
    <label for="exampleCheckboxSwitch"></label>
  </div>
</li>
<div class="panel">
  <h3>Total Visits: <%= total_visits %></h3>
  <h3>Total Matches: <%= total_matches %></h3>
  <h3>Total Messages: <%= total_messages %></h3>
</div>
