<h1>Settings</h1>
<div class="row">
  <div class="columns large-6">
    <div class="panel">
      <form action="">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
      </form>
    </div>
  </div>
</div>