<div class="row">
  <div class="large-9 medium-9 small-9 columns">
    <% if roller_enabled? %>
      <%= render 'activity_feed_list' %>
    <% else %>
      <%= render 'not_rolling_dashboard' %>
    <% end %>
  </div>
  <div class="large-2 small-2 medium-2 columns">
    <%= render 'new_matches_sidebar' %>
  </div>
</div>
<!--   </div>
</div> -->
<!-- <p id="visitInfo">info</p> -->
<!-- </div> -->
