<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <% type = name === "success" ? "success" : "log" %>
    <script>
      alertify.<%= type %>('<%= msg %>');
    </script>
  <% end %>
<% end %>