<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">LazyCupid</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
        <li><a href="/">Settings</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path)  %></li>
        <li class="active"><%= link_to('Sign Up', new_user_registration_path)  %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <% if current_user %>
        <li><a href="/triage">Triage</a></li>
      <% end %>
        <li><a href="/name-changes">Name Changes</a></li>
    </ul>
  </section>
</nav>
