<div class="panel">
<h3>Match Preferences</h3>
<div id="mySettings">
  <div class="row">
    <div class="columns large-12 small-12 medium-12">
      <div class="row">
        <div class="columns large-1">
          <label for="minAge">Age</label>
        </div>
        <div class="columns large-2">
          <input type="text" name="min_age" id="minAge" class="match">
        </div>
        <div class="columns large-1">
          <strong> to </strong>
        </div>
        <div class="columns large-2">
          <input type="text" name="max_age" id="maxAge" class="match">
        </div>
        <div class="large-6 columns"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 small-6 medium-6">
      <div class="row">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 small-6 medium-6">
      <div class="row">
        <div class="columns large-3">
          <label for="maxDistance">Max Distance</label>
        </div>
        <div class="columns large-9">
          <input type="text" name="max_distance" id="maxDistance" class="match">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 medium-6 small-6">
      <strong>Creep Factor</strong>
      <select id="creepFactor" name="creep_factor">
        <option value="1" class="match">Shy</option>
        <option value="2" class="match">Normal</option>
        <option value="3" class="match">Intrigued</option>
        <option value="4" class="match">Agressive</option>
        <option value="5" class="match">Desperate</option>
      </select>
    </div>
  </div>

  </div>
  <div id="loading" style="display:none">
    <strong>Loading...</strong>
  </div>
</div>