<h3>Personal</h3>
<div id="mySettings">
  <div class="row">
    <div class="columns large-6 small-6 medium-6">
      <div class="row">
        <div class="columns large-3">
          <label for="yourAge">Age</label>
        </div>
        <div class="columns large-9">
          <input type="text" name="age" id="myAge" class="personal">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 small-6 medium-6">
      <div class="row">
        <div class="columns large-3">
          <label for="yourGender" >Gender</label>
        </div>
        <div class="columns large-9">
          <select id="myGender" name="gender">
            <option value="M" class="personal">male</option>
            <option value="F" class="personal">female</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 small-6 medium-6">
      <div class="row">
        <div class="columns large-3">
          <label for="yourSexuality">Sexuality</label>
        </div>
        <div class="columns large-9">
          <select id="mySexuality" name="sexuality">
            <option value="straight" class="personal">straight</option>
            <option value="gay" class="personal">gay</option>
            <option value="bisexual" class="personal">bisexual</option>
          </select>
        </div>
      </div>
    </div>
  </div>
