<div class="row"><p></p></div>
<div class="row">
<div class="large-8 medium-8 small-8 columns">
<div class="panel large-8 medium-8">


  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Log in" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>
<div class="large-4 medium-4 columns">
  <%= image_tag("lazycupid_logo.jpg", size: "600x600") %>
</div>
</div>