<!-- <table> -->
<%# @matches.each do |match| %>
  <!-- <tr> -->
    <!-- <td><%#= match.name %></td> -->
    <!-- <td><%#= Time.at(match.last_visit) %></td> -->
    <!-- <td><%#= match.counts %></td> -->
    <!-- <td></td> -->
    <!-- <td></td> -->
  <!-- </tr> -->
<%# end %>
<!-- </table> -->
<%#= will_paginate @matches %>

<h1>
<%= @stats %>

</h1>