  <div class="row">
    <div class="large-6 medium-6 small-6 columns">

<%# @changes.each do |change| %>
<div class="row">

      <!-- <div class="large-2 medium-2 small-2 columns"> -->
        <span class="oldName"></span>
      <!-- </div> -->
      <!-- <div class="large-2 medium-2 small-2 columns"> -->
        <span id="became" style="display:none">became</span>
      <!-- </div> -->
      <!-- <div class="large-2 medium-2 small-2 columns"> -->
        <span class="newName"></span>
      <!-- </div> -->
</div>
<div class="row">
  <button type="button" id="randomNameChange" class="button tiny">Random Name Change</button>
</div>
<%# end %>
    </div>
  </div>
