<% if !@match.nil? %>
  <h1><%= @match.name %></h1>
  <div class="large-8 small-8 medium-8 columns">
      <%= image_tag(@match.thumb) %><br>
      <a href="https://linkonym.appspot.com/?http://okcupid.com/profile/<%= @match.name %>" class="button small">View on OKCupid</a><br/>
      <span><%= @match.age %>/<%= @match.gender %>/<%= @match.city %>, <%= @match.state %></span><br/>
      <span><%= Unit("#{@match.height} m").to_s(:ft) %></span> -
      <% if @match.body_type %><span><%= Match.body_type_translator(@match.body_type) %> body</span> -<% end %>
      <span><%= @match.sexuality %></span><br/>
      <span><%= @match.match_percent %>% match</span><br/>
      <span><%= @match.enemy_percent %>% enemy</span><br/>
      <span><%= @match.distance %> miles away</span><br/>
      <span>Sent you <%= @messages_received %> messages</span><br/>
      </div>
  <div class="large-4 medium-4 small-4 columns" style="height:500px;overflow:scroll">
  <h4>Visitation Log</h4>
    <span><strong><%= @match.counts %> recorded visits </strong></span><br/>
    <span><strong><%= @outgoing_visits.size %> actual visits </strong></span>
    <% @outgoing_visits.reverse_each do |visit| %>
      <li><%= distance_of_time_in_words(Time.now, Time.at(visit.timestamp)) %> ago</li>
    <% end %>
  </div>
<% else %>
  <p>No match found</p>
<% end %>
