.overlay {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  color: #272b34;
  font-size: 1rem;
  z-index: 9999;
}

  .overlay.hidden {
    display: none;
  }

  .overlay-top {
    box-sizing: content-box;
    position: relative;
    width: 699px;
    margin: 4% auto;
  }

  .overlay-content {
    box-sizing: content-box;
    position: relative;
    width: 699px;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 22.5px 30px;
    background-color: #F3F4F7;
    border-radius: 4px;
  }

    .overlay-close {
      box-sizing: content-box;
      position: absolute;
      top: 25.5px;
      right: 26px;
      cursor: pointer;
      z-index: 2000;
      padding: 0;
      color: #CED3E1;
      font-size: 4em;
      font-weight: 300;
      line-height: 1em;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }