<div class="row">
  <div class="columns large-12 medium-12 small-12">
    <h1>Message Triage Helper</h1>
    <div class="row">
      <%= react_component("NextMessageButton", url: '/api/next-action', btnLabel: 'Next Message') %>
    </div>
    <div class="row">
      <%= react_component('NextMessageButton', url: '/api/next-match', btnLabel: 'Next Mutual Match') %>
    </div>
    <div class="row">
      <%= react_component('NextMessageButton', url: '/api/next-all', btnLabel: 'All Messages') %>
    </div>
  </div>
</div>