<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "LazyCupid" %></title>

    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
      Stripe.setPublishableKey('<%= ENV["stripe_publishable_key"] %>')
    </script>

    <%= csrf_meta_tags %>
    <%#= render 'roll/listener' %>

  </head>

  <body>
    <!-- <script>var user_id = '<%#= user_id %>'</script> -->
    <%= render 'shared/navigation' %>

    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <div class="row">
          <div class="columns large-12 medium-12 small-12">
            <%= react_component('OkcupidAuthorizationModal') %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
